#input {
    width: 30vw;
    display: flex;
    flex-direction: column;
}

.form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
}

.buttonForm{
    margin-top: 0.5rem;
    display: flex;
    justify-content: center;
}

.button{
    padding: 0.5rem 1rem;
}